<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Definir el servlet -->
    <servlet>
        <servlet-name>FiltrarDistribucionesPorZonaServlet</servlet-name>
        <servlet-class>org.pap.presentation.FiltrarDistribucionesPorZonaServlet</servlet-class>
    </servlet>

    <!-- Asignar el servlet a una URL -->
    <servlet-mapping>
        <servlet-name>FiltrarDistribucionesPorZonaServlet</servlet-name>
        <url-pattern>/FiltrarDistribucionesPorZonaServlet</url-pattern>
    </servlet-mapping>

    <!-- Opcional: página de error general -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/error.html</location>
    </error-page>

</web-app>
